.root {
  display: flex;
  height: 100dvh;
  overflow: hidden;
}

.main {
  flex: 1;
  overflow-y: auto;
  padding: 24px;
  padding-bottom: calc(var(--tabbar-height) + 16px);
}

@media (min-width: 768px) {
  .main {
    margin-left: var(--sidebar-width);
    padding-bottom: 24px;
  }
}
